<h1>Workout List</h1>

<ul>
  <% @workouts.each do |workout| %> 
    <li><%= link_to workout.name, workout_group_workout_path(workout) %></li>
  <% end %>
</ul>

<%= link_to "Create Workout for #{@workout_group.name}", new_workout_group_workout_path%>