<h1> Welcome to Pushwith!</h1>
<p> This app will allow you to connect with others at your gym, create workout groups, and create workouts!</p>


 
<%= link_to "Login", login_path%>
<p>or</p>
<%= link_to "Sign Up", signup_path %>
<p>or</p>
<%= link_to "Log in with Google", '/auth/google_oauth2', method: :post %>